body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #50326c;
}

#content {
    width: 600px;
    margin: 10px auto;
    padding: 5px 20px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

h1 {
	text-align: center;
}

p {
	color: blue;
	font-weight: bold;
	text-align: center;
}

label {
    display: block;
    width: 20em;
    text-align: right;
    padding-right: 1em;
    float: left;
}

input {
    display: block;
    float: left;
    width: 75px;
}

#futureValue {
    color: #000000;
}

br {
    clear: left;
}