body {
    font-family: Arial, Helvetica, sans-serif;
    background: #666666;
}

#content {
    width: 800px;
    margin: 10px auto;
    padding: 5px 20px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

h1 {
	text-align: center;
}

p {
	color: blue;
	font-weight: bold;
	text-align: center;
}

label {
    display: block;
    width: 20em;
    text-align: right;
    padding-right: 1em;
    float: left;
}

input {
    display: block;
    float: left;
    width: 100px;
}


input[type=button] {
    display: block;
    float: center;
    width: 8em;
    padding-right: 0em;
    text-align: center;
}

#futureValue {
    color: #000000;
}

br {
    clear: left;
}